[submodule "external/eigen"]
	path = external/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "external/cmdline"]
	path = external/cmdline
	url = https://github.com/tanakh/cmdline.git
